node_modules
npm-debug.log
dist
.git
.gitignore
.env
.env.local
.DS_Store
*.pem
*.log
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
bootstrap/cache/*
vendor
tests
.editorconfig
.phpunit.result.cache
phpunit.xml
